.cash-loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cash-loader {
  opacity: 0;
}
.cash-loader.active {
  opacity: 100;
}
.cash-visible {
  transition: all 0.5s ease-in-out;
}
.cash-visible {
  opacity: 0;
}
.cash-visible.active {
  opacity: 100;
}
@media (min-width: 1400px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1200px;
  }
}
/* .cash-home-loader {
  transition: all 0.5s ease-in-out;
} */
.cash-sticky.sticky {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1010;
  background: #fff;
  box-shadow: 0 15px 30px 0 #0000000f;
  padding-top: 20px;
  padding-bottom: 20px;
  animation: sticky 1.2s;
}

.cash-header-area {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
  box-shadow: 0px 14px 12px 0px rgb(0 0 0 / 30%);
}

@media (max-width: 1023px) {
  .cash-header-main-menu {
    display: none !important;
  }
}
.cash-header-main-menu {
  display: flex;
  justify-content: right;
}
.cash-header-main-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.cash-header-main-menu ul > li {
  display: inline-block;
  margin-right: 30px;
  position: relative;
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .cash-header-main-menu ul > li {
    margin-right: 14px;
  }
}
.cash-header-main-menu ul > li:hover a,
.cash-header-main-menu ul > li.active a {
  color: #f0b500;
}
.cash-header-main-menu ul > li > a {
  font-size: 17px;
  font-weight: 500;
  color: #5a5d63;
  line-height: 45px;
}
.cash-header-main-menu ul > li > a i {
  padding-left: 6px;
}

@-webkit-keyframes sticky {
  0% {
    top: -200px;
  }
  100% {
    top: 0;
  }
}
@keyframes sticky {
  0% {
    top: -200px;
  }
  100% {
    top: 0;
  }
}
.header-nav-box .cash-btn-box {
  position: relative;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-nav-box .cash-btn-box {
    padding-right: 50px;
  }
}
@media (max-width: 767px) {
  .header-nav-box .cash-btn-box {
    padding-right: 30px;
  }
}
.header-nav-box .cash-btn-box .login-btn {
  color: #0e1133;
  font-size: 15px;
  font-weight: 500;
}
.header-nav-box .cash-btn-box .login-btn i {
  padding-right: 6px;
}
.header-nav-box {
  padding: 0 4%;
}
.container {
  max-width: none;
  padding: 0;
  width: 100%;
}
.container #banner {
  background-color: black;
  height: fit-content;
}
.banner-image {
  width: 100%;
  opacity: 0.65;
}
.banner-title-area {
  position: absolute;
  top: 40%;
  left: 13%;
}
.banner-title-area p {
  font-size: 70px;
  width: fit-content;
  padding: 1px 20px;
  line-height: normal;
  text-transform: uppercase;
}
.banner-title-area p:first-of-type {
  color: #990a2c;
  background: white;
}
.banner-title-area p:last-of-type {
  color: white;
  background-image: linear-gradient(to right, #ce043e, #860a25);
}
.cash-header-sub-menu {
  position: relative;
  background: #4f545c;
  padding: 20px;
}
.cash-header-sub-menu > ul {
  list-style: none;
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
}
.cash-header-sub-menu > ul > li {
  font-size: 17px;
  text-transform: uppercase;
  width: 20%;
  text-align: center;
}
.cash-header-sub-menu > ul > li > a {
  color: white
}
.cash-header-sub-menu > ul > li.active > a,
.cash-header-sub-menu > ul > li:hover > a
{
  color: #f0b500
}
.section-card {
  padding: 80px 12% 0 12%;
}
.text-card-area .title {
  font-size: 40px;
  font-weight: 500;
}
.text-card-area .text-card-content {
  font-size: 20px;
  margin-top: 60px;
  line-height: 40px;
}
.option-area {
  padding-bottom: 60px;
  grid-gap: 30px 60px;
}
/** TODO: responsive */
.option-area .option-item img {
  padding: 10%;
}
.option-area .option-item p:first-of-type {
  font-size: 20px;
  text-transform: uppercase;
  color: #990a2c;
  font-weight: bold;
}
.option-area .option-item p:last-of-type {
  font-size: 20px;
  margin-top: 10px;
}
.bg-section {
  background-color: #f0eeed;
}
.service-card .service-card-text {
  padding: 0 5%;
}
.service-card .service-title,
.service-out-title {
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 28px;
}
.service-out-title {
  padding-bottom: 50px;
}
.service-card .service-content {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 30px;
}
.service-card .service-btn {
  font-size: 20px;
  background: #0288d1;
  color: white;
  padding: 5px 40px;
  letter-spacing: 1px;
  border-radius: 10px;
  cursor: pointer;
}
.service-card .service-btn:hover {
  background-color: #2b70fa;
}
.service-card .service-card-image {
  height: 60vh;
}
.service-card .service-card-image img {
  height: 100%;
  object-fit: cover;
}
.service-section {
  background-color: #f0eeed;
  padding-bottom: 80px;
}
.diversity-section {
  border-top: 3px solid #505056;
  padding-top: 60px;
  margin-top: 60px;

}
.diversity-item {
  padding-bottom: 60px;
}
.diversity-title {
  font-size: 40px;
    line-height: 28px;
}
.diversity-summary {
  font-size: 20px;
    line-height: 35px;
    margin-bottom: 28px;
    padding-top: 60px;
}
.option2-area {
  padding-bottom: 60px;
}
/** TODO: responsive */
.option2-area .option-item .img-div {
  width: 100%;
  height: 15vh;
  cursor: pointer;
}
.option2-area .option-item p:first-of-type {
  font-size: 20px;
  text-transform: uppercase;
  color: #990a2c;
  font-weight: bold;
  cursor: pointer;
}
.option2-area .option-item p:last-of-type {
  font-size: 20px;
  margin-top: 10px;
}
.faq-area {
  margin-top: 60px;
  border: 2px solid #505056;
  padding: 0px 10px;
}
.faq-body .faq-row .row-title span.icon-wrapper {
  max-height: none !important;
}
.video-area {
  margin-top: 60px;
  background-color: #f0eeed;
}
.video-area .video-header {
  text-align: center;
  background-color: #0288d1;
}
.video-area .video-header p {
  font-size: 25px;
  padding: 20px;
  color: white;
}
.video-card {
  width: 100%;
  padding-right: 20%;
  padding-left: 20%;
  height: auto;
  padding-bottom: 60px;
}
.video-thumbnail {
  height: 70vh;
  background: #5a5d63;
  color: #eeb210;
  font-size: 150px;
  text-align: center;
  align-items: center;
  vertical-align: bottom;
  padding-top: 18vh;
}
.video-thumbnail svg {
  border-radius: 50%;
  transition: linear 0.3s;
  cursor: pointer;
}
.video-thumbnail svg:hover {
  box-shadow: 0px 14px 20px 0px rgb(13 15 20 / 30%)
}
.video-thumbnail p {
  font-size: 40px;
  line-height: 48px;
  color: white;
  cursor:default;
}
.vacancy-content .vacancy-item p,
.vacancy-content .vacancy-item div {
  font-size: 20px;
  line-height: 30px;
}
.testimonial-area {
  margin-left: 5%;
  margin-right: 10%;
}
.testimonial-image {
  justify-content: center;
  text-align: center;
  display: inline-flex;
}
.testimonial-image img {
  width: 70%;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 6px 8px 9px -5px;
}
.testimonial-text,
.testimonial-text p {
  font-size: 20px;
  line-height: 28px;
}
.testimonial-text p {
  color: #990a2c;
  font-weight: 500;
}
.testimonial-area .testimonial-next-arrow {
  font-size: 50px;
  color: black;
}
.testimonial-arrow {
  width: fit-content;
  height: fit-content;
}
.testimonial-arrow.slick-arrow::before {
  display: none;
}
.testimonial-arrow svg {
  font-size: 50px;
  color: #5a5d63;
}
.testimonial-arrow.right {
  right: -6%;
}
.testimonial-arrow.left {
  left: -6%;
}